<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet">
    <style>
        body {
            background-image: url(/assets/img/hero-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .modal-content {
            background-color: rgba(85, 85, 85, 0.9);
            color: #f7f7f7;
        }
        .form-container h3 {
            text-align: center;
            margin-bottom: 1.5em;
        }
        .form-group {
            margin-bottom: 1.5em;
        }
        .form-control {
            background-color: #666;
            color: #f7f7f7;
        }
        .form-control::placeholder {
            color: #ccc;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            font-size: 0.875rem;
            padding: 0.5rem 1rem;
        }
        .text-danger {
            color: #ff6b6b;
        }
    </style>
</head>
<body>
<header id="header" class="header fixed-top">
    <div class="branding d-flex align-items-cente">
        <div class="container position-relative d-flex align-items-center justify-content-between">
            <h1 class="sitename"><h1 class="sitename">ресторант <span style="color: darkgoldenrod;">Вистоди</span>
            </h1></h1>
        </div>
    </div>
</header>

<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="registerModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                
                <div class="modal-body"
                     style="background-color: black; border: 2px solid #b8860b; padding: 20px; border-radius: 10px;">

                    <form th:action="@{/userEditAdmin}" th:method="PUT" th:object="${userEditRequestAdmin}">
                        <table style="width: 100%; border-collapse: collapse; border: 2px solid #b8860b; background-color: black; color: #f7f7f7;">
                            <tr style="border-bottom: 2px solid #b8860b;">
                                <td style="padding: 10px 20px;"><label for="id" style="color: #b8860b;">ID</label></td>
                                <td><input type="text" class="form-control" id="id" placeholder="id" th:field="*{id}"
                                           required  style="border: none; background-color: var(--accent-color); color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; white-space: nowrap;"></td>
                            </tr>
                            <tr style="border-bottom: 2px solid #b8860b;">
                                <td style="padding: 10px 20px;"><label for="phone"
                                                                       style="color: #b8860b;">Телефон</label>
                                </td>
                                <td><input type="tel" class="form-control" id="phone" placeholder="Phone"
                                           th:field="*{phone}" required
                                           style="border: none; background-color: var(--accent-color); color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; white-space: nowrap;">
                                </td>
                            </tr>
                            <tr style="border-bottom: 2px solid #b8860b;">
                                <td style="padding: 10px 20px;"><label for="email" style="color: #b8860b;">Електронна
                                    поща</label></td>
                                <td><input type="email" class="form-control" id="email" placeholder="email"
                                           th:field="*{email}" required
                                           style="border: none; background-color: var(--accent-color); color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; white-space: nowrap;">
                                </td>
                            </tr>
                            <tr style="border-bottom: 2px solid #b8860b;">
                                <td style="padding: 10px 20px;"><label for="address"
                                                                       style="color: #b8860b;">Адрес</label>
                                </td>
                                <td><input type="text" class="form-control" id="address" placeholder="address"
                                           th:field="*{address}" required
                                           style="border: none; background-color: var(--accent-color); color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; white-space: nowrap;">
                            </tr>
                            <tr style="border-bottom: 2px solid #b8860b;">
                                <td style="padding: 10px 20px;"><label for="firstName" style="color: #b8860b;">Малко име</label></td>
                                <td><input type="text" class="form-control" id="firstName" placeholder="firstName"
                                           th:field="*{firstName}"
                                           style="border: none; background-color: var(--accent-color); color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; white-space: nowrap;">
                            </tr>
                            <tr style="border-bottom: 2px solid #b8860b;">
                                <td style="padding: 10px 20px;"><label for="lastName" style="color: #b8860b;">Фамилно
                                    име</label></td>
                                <td><input type="text" class="form-control" id="lastName" placeholder="lastName"
                                           th:field="*{lastName}"
                                           style="border: none; background-color: var(--accent-color); color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; white-space: nowrap;">
                            </tr>
                            <tr style="border-bottom: 2px solid #b8860b;">
                                <td style="padding: 10px 20px;"><label for="accountAmount"
                                                                       style="color: #b8860b;">Сметка</label></td>
                                <td><input type="text" class="form-control" id="accountAmount"
                                           placeholder="accountAmount" th:field="*{accountAmount}"
                                           style="border: none; background-color: var(--accent-color); color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; white-space: nowrap;">
                            </tr>
                            <tr style="border-bottom: 2px solid #b8860b;">
                                <td style="padding: 10px 20px;"><label for="role" style="color: #b8860b;">Роля</label>
                                </td>
                                <td>
                                    <select class="form-control" id="role" th:field="*{role}" required
                                            style="border: none; background-color: var(--accent-color); color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; white-space: nowrap;">
                                        <option value="" disabled selected>Изберете роля</option>
                                        <option th:each="role : ${T(app.User.model.UserRole).values()}"
                                                th:value="${role}"
                                                th:text="${role}"></option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div style="text-align: center; margin-top: 20px;">
                            <button type="submit" class="btn btn-primary"
                                    style="border: none; background-color: var(--accent-color); color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; white-space: nowrap;">
                                Промени
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#registerModal').modal({
            show: true,
            backdrop: 'static',
            keyboard: false
        });
    });
</script>

</body>
</html>
